USE [master]
GO
/****** Object:  Database [QLBanDoThoiTrang]    Script Date: 01/11/2024 05:44:53 PM ******/
CREATE DATABASE [QLBanDoThoiTrang]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLBanDoThoiTrang].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLBanDoThoiTrang]
GO
/****** Object:  Table [dbo].[tAnhChiTietSP]    Script Date: 01/11/2024 05:44:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tAnhChiTietSP](
	[MaChiTietSP] [int] NOT NULL,
	[TenFileAnh] [nvarchar](255) NOT NULL,
	[ViTri] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChiTietSP] ASC,
	[TenFileAnh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tAnhSP]    Script Date: 01/11/2024 05:44:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tAnhSP](
	[MaSP] [int] NOT NULL,
	[TenFileAnh] [nvarchar](255) NOT NULL,
	[ViTri] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC,
	[TenFileAnh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tChiTietHoaDonBan]    Script Date: 01/11/2024 05:44:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tChiTietHoaDonBan](
	[MaHoaDonBan] [int] NOT NULL,
	[MaChiTietSP] [int] NOT NULL,
	[DonGiaBan] [decimal](18, 2) NULL,
	[SoLuongBan] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tChiTietSanPham]    Script Date: 01/11/2024 05:44:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tChiTietSanPham](
	[MaChiTietSP] [int] IDENTITY(1,1) NOT NULL,
	[MaSP] [int] NOT NULL,
	[KichThuoc] [nvarchar](50) NULL,
	[MauSac] [nvarchar](50) NULL,
	[AnhDaiDien] [nvarchar](255) NULL,
	[SLTon] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChiTietSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tDanhGia]    Script Date: 01/11/2024 05:44:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tDanhGia](
	[MaDanhGia] [int] IDENTITY(1,1) NOT NULL,
	[MaKhachHang] [int] NOT NULL,
	[MaSP] [int] NOT NULL,
	[Ngaytao] [datetime] NOT NULL,
	[Diem] [int] NOT NULL,
	[BinhLuan] [nvarchar](max) NULL,
	[MaNhanVien] [int] NULL,
	[TraLoi] [nvarchar](max) NULL,
	[LichSu] [nvarchar](max) NULL,
 CONSTRAINT [PK_tDanhGia] PRIMARY KEY CLUSTERED 
(
	[MaDanhGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tDanhMucSP]    Script Date: 01/11/2024 05:44:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tDanhMucSP](
	[MaSP] [int] IDENTITY(1,1) NOT NULL,
	[TenSP] [nvarchar](100) NULL,
	[ChatLieu] [nvarchar](100) NULL,
	[LoaiDT] [nvarchar](100) NULL,
	[HangSX] [nvarchar](100) NULL,
	[ThoiGianBaoHanh] [int] NULL,
	[GioiThieuSP] [nvarchar](max) NULL,
	[AnhDaiDien] [nvarchar](255) NULL,
	[Gia] [decimal](18, 2) NULL,
	[TagId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TDanhSachCuaHang]    Script Date: 01/11/2024 05:44:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TDanhSachCuaHang](
	[SDTCuaHang] [nchar](10) NOT NULL,
	[DiaChi] [nvarchar](300) NULL,
	[KhuVuc] [nvarchar](100) NULL,
	[KinhDo] [float] NULL,
	[ViDo] [float] NULL,
 CONSTRAINT [PK_DanhSachCuaHang] PRIMARY KEY CLUSTERED 
(
	[SDTCuaHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TempUserOtp]    Script Date: 01/11/2024 05:44:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TempUserOtp](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[OtpCode] [nvarchar](7) NULL,
	[OtpExpiration] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TGiaoHang]    Script Date: 01/11/2024 05:44:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TGiaoHang](
	[MaGiaoHang] [int] IDENTITY(1,1) NOT NULL,
	[MaHoaDonBan] [int] NULL,
	[ThanhPho] [nvarchar](50) NULL,
	[QuanHuyen] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](300) NULL,
	[SoDienThoai] [nchar](10) NULL,
	[HoTenNguoiNhan] [nvarchar](200) NULL,
 CONSTRAINT [PK_TGiaoHang] PRIMARY KEY CLUSTERED 
(
	[MaGiaoHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tGioHang]    Script Date: 01/11/2024 05:44:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tGioHang](
	[MaGioHang] [int] IDENTITY(1,1) NOT NULL,
	[MaKhachHang] [int] NOT NULL,
	[MaChiTietSP] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaGioHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tHoaDonBan]    Script Date: 01/11/2024 05:44:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tHoaDonBan](
	[MaHoaDonBan] [int] IDENTITY(1,1) NOT NULL,
	[NgayHoaDon] [datetime] NULL,
	[MaKhachHang] [int] NULL,
	[TongTienHD] [decimal](18, 2) NULL,
	[PhuongThucThanhToan] [nvarchar](100) NULL,
	[GhiChu] [nvarchar](max) NULL,
	[MaGiamGia] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHoaDonBan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tKhachHang]    Script Date: 01/11/2024 05:44:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tKhachHang](
	[MaKhachHang] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[TenKhachHang] [nvarchar](100) NULL,
	[NgaySinh] [date] NULL,
	[SoDienThoai] [nvarchar](20) NULL,
	[DiaChi] [nvarchar](255) NULL,
	[GhiChu] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tMaGiamGia]    Script Date: 01/11/2024 05:44:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tMaGiamGia](
	[MaGiamGia] [int] IDENTITY(1,1) NOT NULL,
	[Code] [varchar](50) NULL,
	[TiLeGiam] [decimal](3, 2) NULL,
	[MoTa] [nvarchar](max) NULL,
	[NgayBatDau] [datetime] NULL,
	[NgayKetThuc] [datetime] NULL,
	[TrangThai] [int] NULL,
 CONSTRAINT [PK_tMaGiamGia] PRIMARY KEY CLUSTERED 
(
	[MaGiamGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tNhanVien]    Script Date: 01/11/2024 05:44:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tNhanVien](
	[MaNhanVien] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[TenNhanVien] [nvarchar](100) NULL,
	[NgaySinh] [date] NULL,
	[ChucVu] [nvarchar](50) NULL,
	[GhiChu] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tPhanHoi]    Script Date: 01/11/2024 05:44:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tPhanHoi](
	[MaKhachHang] [int] NOT NULL,
	[MaDanhGia] [int] NOT NULL,
	[Thich] [int] NULL,
	[HuuIch] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TTag]    Script Date: 01/11/2024 05:44:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TTag](
	[TagId] [int] IDENTITY(1,1) NOT NULL,
	[TagName] [nvarchar](50) NULL,
	[TagImage] [nvarchar](50) NULL,
 CONSTRAINT [PK_TTag] PRIMARY KEY CLUSTERED 
(
	[TagId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tUser]    Script Date: 01/11/2024 05:44:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tUser](
	[Email] [nvarchar](50) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[Salt] [nvarchar](50) NULL,
	[LoaiUser] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tChiTietHoaDonBan] ([MaHoaDonBan], [MaChiTietSP], [DonGiaBan], [SoLuongBan]) VALUES (1, 3, CAST(160000.00 AS Decimal(18, 2)), 11)
INSERT [dbo].[tChiTietHoaDonBan] ([MaHoaDonBan], [MaChiTietSP], [DonGiaBan], [SoLuongBan]) VALUES (2, 3, CAST(160000.00 AS Decimal(18, 2)), 11)
INSERT [dbo].[tChiTietHoaDonBan] ([MaHoaDonBan], [MaChiTietSP], [DonGiaBan], [SoLuongBan]) VALUES (3, 3, CAST(160000.00 AS Decimal(18, 2)), 11)
GO
SET IDENTITY_INSERT [dbo].[tChiTietSanPham] ON 

INSERT [dbo].[tChiTietSanPham] ([MaChiTietSP], [MaSP], [KichThuoc], [MauSac], [AnhDaiDien], [SLTon]) VALUES (1, 32, N'Nhỏ', N'Trắng', NULL, NULL)
INSERT [dbo].[tChiTietSanPham] ([MaChiTietSP], [MaSP], [KichThuoc], [MauSac], [AnhDaiDien], [SLTon]) VALUES (2, 32, N'Lớn', N'Trắng', NULL, NULL)
INSERT [dbo].[tChiTietSanPham] ([MaChiTietSP], [MaSP], [KichThuoc], [MauSac], [AnhDaiDien], [SLTon]) VALUES (3, 32, N'Lớn', N'Đen', NULL, NULL)
SET IDENTITY_INSERT [dbo].[tChiTietSanPham] OFF
GO
SET IDENTITY_INSERT [dbo].[tDanhGia] ON 

INSERT [dbo].[tDanhGia] ([MaDanhGia], [MaKhachHang], [MaSP], [Ngaytao], [Diem], [BinhLuan], [MaNhanVien], [TraLoi], [LichSu]) VALUES (2, 15, 32, CAST(N'2024-11-01T16:38:02.660' AS DateTime), 2, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[tDanhGia] OFF
GO
SET IDENTITY_INSERT [dbo].[tDanhMucSP] ON 

INSERT [dbo].[tDanhMucSP] ([MaSP], [TenSP], [ChatLieu], [LoaiDT], [HangSX], [ThoiGianBaoHanh], [GioiThieuSP], [AnhDaiDien], [Gia], [TagId]) VALUES (23, N'Quạt điện', N'Nhựa', N'Đồ gia dụng', N'SENKO', 24, N'Đủ khả năng chịu nhiệt, đảm bảo an toàn khi sử dụng', N'0', CAST(300000.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[tDanhMucSP] ([MaSP], [TenSP], [ChatLieu], [LoaiDT], [HangSX], [ThoiGianBaoHanh], [GioiThieuSP], [AnhDaiDien], [Gia], [TagId]) VALUES (24, N'Máy sấy tóc', N'Nhựa ', N'Đồ gia dụng', N'Kaning', 6, N'Có thiết kế tối ưu gió và nhiệt', N'1', CAST(180000.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[tDanhMucSP] ([MaSP], [TenSP], [ChatLieu], [LoaiDT], [HangSX], [ThoiGianBaoHanh], [GioiThieuSP], [AnhDaiDien], [Gia], [TagId]) VALUES (25, N'Máy hút bụi', N'Nhựa', N'Đồ gia dụng', N'Puhi', 12, N'Công suất cực mạnh, tích hợp 6 đầu hút bụi linh hoạt', N'may-hut-bui-cam-tay-deerma-dx118c-pro-251023-033910-600x600.jpg', CAST(250000.00 AS Decimal(18, 2)), 2)
SET IDENTITY_INSERT [dbo].[tDanhMucSP] OFF
GO
INSERT [dbo].[TDanhSachCuaHang] ([SDTCuaHang], [DiaChi], [KhuVuc], [KinhDo], [ViDo]) VALUES (N'0371093688', N'Số 265 Cao Lỗ, Uy Nỗ, Đông Anh, Hà Nội', N'Đông Anh, Hà Nội', 21.1305, 105.856)
INSERT [dbo].[TDanhSachCuaHang] ([SDTCuaHang], [DiaChi], [KhuVuc], [KinhDo], [ViDo]) VALUES (N'0986534334', N'Số 3, Cầu Giấy, Đống Đa, Hà Nội', N'Đống Đa, Hà Nội', 21.0278, 105.8023)
INSERT [dbo].[TDanhSachCuaHang] ([SDTCuaHang], [DiaChi], [KhuVuc], [KinhDo], [ViDo]) VALUES (N'0986575473', N'18 Phạm Văn Ngôn, Hoà Khánh Bắc, Liên Chiểu, Đà Nẵng', N'Liên Chiểu, Đà Nẵng', 16.08073, 108.1264)
GO
SET IDENTITY_INSERT [dbo].[TempUserOtp] ON 

INSERT [dbo].[TempUserOtp] ([Id], [Email], [OtpCode], [OtpExpiration]) VALUES (14, N'truongminh10052004@gmail.com', N'395797', CAST(N'2024-10-31T09:37:16.193' AS DateTime))
INSERT [dbo].[TempUserOtp] ([Id], [Email], [OtpCode], [OtpExpiration]) VALUES (15, N'truongvan.minh1504@gmail.com', N'182566', CAST(N'2024-10-31T09:48:49.633' AS DateTime))
SET IDENTITY_INSERT [dbo].[TempUserOtp] OFF
GO
SET IDENTITY_INSERT [dbo].[TGiaoHang] ON 

INSERT [dbo].[TGiaoHang] ([MaGiaoHang], [MaHoaDonBan], [ThanhPho], [QuanHuyen], [DiaChi], [SoDienThoai], [HoTenNguoiNhan]) VALUES (1, 1, N'1', N'1', N'hi', N'0373294997', N'Minh Trương Văn')
INSERT [dbo].[TGiaoHang] ([MaGiaoHang], [MaHoaDonBan], [ThanhPho], [QuanHuyen], [DiaChi], [SoDienThoai], [HoTenNguoiNhan]) VALUES (2, 2, N'14', N'116', N'hi', N'0373294997', N'Minh Trương Văn')
INSERT [dbo].[TGiaoHang] ([MaGiaoHang], [MaHoaDonBan], [ThanhPho], [QuanHuyen], [DiaChi], [SoDienThoai], [HoTenNguoiNhan]) VALUES (3, 3, NULL, NULL, N'hi', N'0373294997', N'Minh Trương Văn')
SET IDENTITY_INSERT [dbo].[TGiaoHang] OFF
GO
SET IDENTITY_INSERT [dbo].[tGioHang] ON 

INSERT [dbo].[tGioHang] ([MaGioHang], [MaKhachHang], [MaChiTietSP], [SoLuong]) VALUES (77, 17, 3, 7)
SET IDENTITY_INSERT [dbo].[tGioHang] OFF
GO
SET IDENTITY_INSERT [dbo].[tHoaDonBan] ON 

INSERT [dbo].[tHoaDonBan] ([MaHoaDonBan], [NgayHoaDon], [MaKhachHang], [TongTienHD], [PhuongThucThanhToan], [GhiChu], [MaGiamGia]) VALUES (1, CAST(N'2024-10-26T21:33:49.587' AS DateTime), 15, CAST(0.00 AS Decimal(18, 2)), N'cash', NULL, NULL)
INSERT [dbo].[tHoaDonBan] ([MaHoaDonBan], [NgayHoaDon], [MaKhachHang], [TongTienHD], [PhuongThucThanhToan], [GhiChu], [MaGiamGia]) VALUES (2, CAST(N'2024-10-27T10:41:49.503' AS DateTime), 15, CAST(0.00 AS Decimal(18, 2)), N'online', NULL, NULL)
INSERT [dbo].[tHoaDonBan] ([MaHoaDonBan], [NgayHoaDon], [MaKhachHang], [TongTienHD], [PhuongThucThanhToan], [GhiChu], [MaGiamGia]) VALUES (3, CAST(N'2024-10-27T14:08:14.270' AS DateTime), 15, CAST(0.00 AS Decimal(18, 2)), N'cash', NULL, NULL)
SET IDENTITY_INSERT [dbo].[tHoaDonBan] OFF
GO
SET IDENTITY_INSERT [dbo].[tKhachHang] ON 

INSERT [dbo].[tKhachHang] ([MaKhachHang], [Email], [TenKhachHang], [NgaySinh], [SoDienThoai], [DiaChi], [GhiChu]) VALUES (2, N'truongvan.minh1504@gmail.com', N'Trương Văn Minh', CAST(N'2004-05-10' AS Date), N'0373294997', N'Xóm 10, quỳnh lâm quỳnh lưu nghệ an', NULL)
INSERT [dbo].[tKhachHang] ([MaKhachHang], [Email], [TenKhachHang], [NgaySinh], [SoDienThoai], [DiaChi], [GhiChu]) VALUES (9, N'Dung2004@gmail.com', N'Phạm Tiến Dũng', NULL, N'45274562', N'152 Nguyễn Đình Hoàn', N'không có')
INSERT [dbo].[tKhachHang] ([MaKhachHang], [Email], [TenKhachHang], [NgaySinh], [SoDienThoai], [DiaChi], [GhiChu]) VALUES (10, N'nam29432@gmail.com', N'Trần Tiến Nam', NULL, N'64356436', N'12 Vũ Tông Phan', N'')
SET IDENTITY_INSERT [dbo].[tKhachHang] OFF
GO
SET IDENTITY_INSERT [dbo].[tNhanVien] ON 

INSERT [dbo].[tNhanVien] ([MaNhanVien], [Email], [TenNhanVien], [NgaySinh], [ChucVu], [GhiChu]) VALUES (2, N'HongLysAnh22@gmail.com', N'Hông lý', CAST(N'2004-05-10' AS Date), N'Nhân Viên Kho', NULL)
INSERT [dbo].[tNhanVien] ([MaNhanVien], [Email], [TenNhanVien], [NgaySinh], [ChucVu], [GhiChu]) VALUES (3, N'aceqcrush11@gmail.com', N'Lê Hòng Phong', CAST(N'2004-05-10' AS Date), N'Nhân Viên Kho', NULL)
INSERT [dbo].[tNhanVien] ([MaNhanVien], [Email], [TenNhanVien], [NgaySinh], [ChucVu], [GhiChu]) VALUES (4, N'Minh221@gmail.com', N'Trương Văn Minh', CAST(N'2004-05-10' AS Date), N'Nhân Viên Kho', NULL)
SET IDENTITY_INSERT [dbo].[tNhanVien] OFF
GO
SET IDENTITY_INSERT [dbo].[TTag] ON 

INSERT [dbo].[TTag] ([TagId], [TagName], [TagImage]) VALUES (1, N'Nam', N'male')
INSERT [dbo].[TTag] ([TagId], [TagName], [TagImage]) VALUES (2, N'Nữ', N'female')
SET IDENTITY_INSERT [dbo].[TTag] OFF
GO
INSERT [dbo].[tUser] ([Email], [password], [Salt], [LoaiUser]) VALUES (N'aceqcrush11@gmail.com', N'123', NULL, NULL)
INSERT [dbo].[tUser] ([Email], [password], [Salt], [LoaiUser]) VALUES (N'Anhtuan223@gmail.com', N'123', NULL, NULL)
INSERT [dbo].[tUser] ([Email], [password], [Salt], [LoaiUser]) VALUES (N'Dung2004@gmail.com', N'123', NULL, NULL)
GO
ALTER TABLE [dbo].[tAnhChiTietSP]  WITH CHECK ADD  CONSTRAINT [FK_AnhChiTietSP_ChiTietSP] FOREIGN KEY([MaChiTietSP])
REFERENCES [dbo].[tChiTietSanPham] ([MaChiTietSP])
GO
ALTER TABLE [dbo].[tAnhChiTietSP] CHECK CONSTRAINT [FK_AnhChiTietSP_ChiTietSP]
GO
ALTER TABLE [dbo].[tAnhSP]  WITH CHECK ADD  CONSTRAINT [FK_AnhSP_DanhMucSP] FOREIGN KEY([MaSP])
REFERENCES [dbo].[tDanhMucSP] ([MaSP])
GO
ALTER TABLE [dbo].[tAnhSP] CHECK CONSTRAINT [FK_AnhSP_DanhMucSP]
GO
ALTER TABLE [dbo].[tChiTietHoaDonBan]  WITH CHECK ADD  CONSTRAINT [FK_tChiTietHoaDonBan_tChiTietSanPham] FOREIGN KEY([MaChiTietSP])
REFERENCES [dbo].[tChiTietSanPham] ([MaChiTietSP])
GO
ALTER TABLE [dbo].[tChiTietHoaDonBan] CHECK CONSTRAINT [FK_tChiTietHoaDonBan_tChiTietSanPham]
GO
ALTER TABLE [dbo].[tChiTietHoaDonBan]  WITH CHECK ADD  CONSTRAINT [FK_tChiTietHoaDonBan_tHoaDonBan] FOREIGN KEY([MaHoaDonBan])
REFERENCES [dbo].[tHoaDonBan] ([MaHoaDonBan])
GO
ALTER TABLE [dbo].[tChiTietHoaDonBan] CHECK CONSTRAINT [FK_tChiTietHoaDonBan_tHoaDonBan]
GO
ALTER TABLE [dbo].[tDanhGia]  WITH CHECK ADD  CONSTRAINT [FK_tDanhGia_tDanhMucSP] FOREIGN KEY([MaSP])
REFERENCES [dbo].[tDanhMucSP] ([MaSP])
GO
ALTER TABLE [dbo].[tDanhGia] CHECK CONSTRAINT [FK_tDanhGia_tDanhMucSP]
GO
ALTER TABLE [dbo].[tDanhGia]  WITH CHECK ADD  CONSTRAINT [FK_tDanhGia_tKhachHang] FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[tKhachHang] ([MaKhachHang])
GO
ALTER TABLE [dbo].[tDanhGia] CHECK CONSTRAINT [FK_tDanhGia_tKhachHang]
GO
ALTER TABLE [dbo].[tDanhGia]  WITH CHECK ADD  CONSTRAINT [FK_tDanhGia_tNhanVien] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[tNhanVien] ([MaNhanVien])
GO
ALTER TABLE [dbo].[tDanhGia] CHECK CONSTRAINT [FK_tDanhGia_tNhanVien]
GO
ALTER TABLE [dbo].[tDanhMucSP]  WITH CHECK ADD  CONSTRAINT [FK_tDanhMucSP_TTag] FOREIGN KEY([TagId])
REFERENCES [dbo].[TTag] ([TagId])
GO
ALTER TABLE [dbo].[tDanhMucSP] CHECK CONSTRAINT [FK_tDanhMucSP_TTag]
GO
ALTER TABLE [dbo].[TGiaoHang]  WITH CHECK ADD  CONSTRAINT [FK_TGiaoHang_THoaDonBan] FOREIGN KEY([MaHoaDonBan])
REFERENCES [dbo].[tHoaDonBan] ([MaHoaDonBan])
GO
ALTER TABLE [dbo].[TGiaoHang] CHECK CONSTRAINT [FK_TGiaoHang_THoaDonBan]
GO
ALTER TABLE [dbo].[tGioHang]  WITH CHECK ADD FOREIGN KEY([MaChiTietSP])
REFERENCES [dbo].[tChiTietSanPham] ([MaChiTietSP])
GO
ALTER TABLE [dbo].[tGioHang]  WITH CHECK ADD FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[tKhachHang] ([MaKhachHang])
GO
ALTER TABLE [dbo].[tHoaDonBan]  WITH CHECK ADD  CONSTRAINT [FK_HoaDonBan_KhachHang] FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[tKhachHang] ([MaKhachHang])
GO
ALTER TABLE [dbo].[tHoaDonBan] CHECK CONSTRAINT [FK_HoaDonBan_KhachHang]
GO
ALTER TABLE [dbo].[tHoaDonBan]  WITH CHECK ADD  CONSTRAINT [FK_tHoaDonBan_tMaGiamGia] FOREIGN KEY([MaGiamGia])
REFERENCES [dbo].[tMaGiamGia] ([MaGiamGia])
GO
ALTER TABLE [dbo].[tHoaDonBan] CHECK CONSTRAINT [FK_tHoaDonBan_tMaGiamGia]
GO
ALTER TABLE [dbo].[tKhachHang]  WITH CHECK ADD  CONSTRAINT [FK_KhachHang_User] FOREIGN KEY([Email])
REFERENCES [dbo].[tUser] ([Email])
GO
ALTER TABLE [dbo].[tKhachHang] CHECK CONSTRAINT [FK_KhachHang_User]
GO
ALTER TABLE [dbo].[tNhanVien]  WITH CHECK ADD  CONSTRAINT [FK_tNhanVien_tUser] FOREIGN KEY([Email])
REFERENCES [dbo].[tUser] ([Email])
GO
ALTER TABLE [dbo].[tNhanVien] CHECK CONSTRAINT [FK_tNhanVien_tUser]
GO
ALTER TABLE [dbo].[tPhanHoi]  WITH CHECK ADD  CONSTRAINT [FK_tPhanHoi_tDanhGia] FOREIGN KEY([MaDanhGia])
REFERENCES [dbo].[tDanhGia] ([MaDanhGia])
GO
ALTER TABLE [dbo].[tPhanHoi] CHECK CONSTRAINT [FK_tPhanHoi_tDanhGia]
GO
ALTER TABLE [dbo].[tPhanHoi]  WITH CHECK ADD  CONSTRAINT [FK_tPhanHoi_tKhachHang] FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[tKhachHang] ([MaKhachHang])
GO
ALTER TABLE [dbo].[tPhanHoi] CHECK CONSTRAINT [FK_tPhanHoi_tKhachHang]
GO
USE [master]
GO
